.reviews {
  // width: 1160px;
  min-height: 465px;
  padding-top: 25px;
  padding-bottom: 120px;
}

.reviews__title {
  @include font($bebas-neue, 49px, 49px, 700);
  color: $price-title;
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 51px;

  text-align: center;
  letter-spacing: 0.03em;
  overflow-wrap: break-word;
}

.reviews__container-wrapper {
  position: relative;
}

.reviews__container {
  display: flex;
  flex-direction: column;
  min-width: 0;
  max-width: 640px;
  padding: 0;
  height: 242px;
}

.reviews__list {
  @include list-reset;
  box-sizing: border-box;
  position: relative;
  width: 566px;
}

.reviews__item-container {
  position: relative;
  display: flex;
  min-height: 242px;
  justify-content: center;
  align-items: center;

  color: $white;

  background-color: $review-item;
}

.reviews__button-prev {
  top: 43%;
  right: 62%;
  left: 90px;
  position: absolute;
  z-index: 9;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 0.4;
  }

  &::after {
    position: relative;
    content: url("../img/arrow-left.svg");

    @media (max-width: $mobile-max) {
      content: url("../img/arrow-left-mobile.svg");
    }
  }
}

.reviews__button-next {
  right: 90px;
  left: 62%;
  top: 43%;
  position: absolute;
  z-index: 9;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 0.4;
  }

  &::after {
    position: relative;
    content: url("../../img/arrow-right.svg");

    @media (max-width: $mobile-max) {
      content: url("../../img/arrow-right-mobile.svg");
    }
  }
}

.reviews__button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.reviews__button-prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.reviews__item {
  padding: 0 40px;
}

.reviews__item--hidden {
  display: none;
}

.reviews__item-next {
  width: 560px;
  min-height: 242px;
  padding: 55px 62px 57px;
  color: $white;
  background-color: $review-item;
}

.reviews__svg {
  &:hover path {
    opacity: 0.3;
  }
}

.reviews__item-image {
  position: absolute;
  top: 55px;
  left: 60px;
  margin-top: 8px;
  margin-right: 28px;
}

.reviews__item-wrap {
  max-width: 328px;
  margin-left: 108px;
}

.reviews__item-title {
  @include font($roboto-condensed, 20px, 30px, 700);

  margin-bottom: 13px;
}

.reviews__item-text {
  @include font($roboto-condensed, 16px, 22px, 400);

  max-width: 328px;
}

@media (max-width: $tablet-max) {
  .reviews {
    min-height: 465px;
    padding-top: 48px;
    padding-bottom: 100px;
  }

  .reviews__container-wrapper {
    max-width: 700px;
  }

  .reviews__container {
    max-width: 650px;
    padding: 0;
    min-width: 0;
  }

  .reviews__button-next {
    left: 86%;
    right: 0;
  }

  .reviews__button-prev {
    right: 86%;
    left: 0;
  }

  .reviews__title {
    @include font($bebas-neue, 42px, 42px, 700);

    margin-bottom: 41px;
  }

  .reviews__item {
    width: 566px;
  }

  .reviews__item-image {
    top: 55px;
    left: 65px;
  }
}

@media (max-width: $mobile-max) {
  .reviews {
    min-height: 465px;
    padding-top: 34px;
    padding-bottom: 70px;
  }

  .reviews__button-next {
    top: 48%;
  }

  .reviews__button-prev {
    top: 48%;
  }

  .reviews__container-wrapper {
    max-width: 100%;
  }

  .reviews__container {
    padding: 0 10px;
    padding-top: 5px;
    height: 340px;
  }

  .reviews__title {
    @include font($bebas-neue, 32px, 32px, 700);

    margin-bottom: 43px;
  }

  .reviews__list {
    width: 226px;
  }

  .reviews__item-container {
    padding: 50px 27px 33px;
  }

  .reviews__item {
    width: 226px;
    padding: 0 20px;
    min-height: 225px;
  }

  .reviews__item-wrap {
    margin-left: 0;
  }

  .reviews__item-image {
    top: 30px;
    left: 10%;
    margin-left: 20px;

    width: 68px;
    height: 68px;
  }

  .reviews__item-title {
    @include font($roboto-condensed, 20px, 27px, 700);

    width: 62px;
    margin-bottom: 23px;
    margin-left: 100px;

    overflow-wrap: break-word;
  }

  .reviews__item-text {
    @include font($roboto-condensed, 16px, 22px, 400);


    text-align: center;
  }

  .reviews__button-list {
    top: 47%;

    width: 290px;
  }

  .reviews__button {
    width: 10px;
    height: 20px;
  }
}
