.coaches__item {
  min-width: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.coaches__list {
  position: relative;
}

.coaches__list .slick-slide.slick-active {
  min-width: 260px;
}

.coaches__arrows .slick-arrow {
  font-size: 0;
  width: 18px;
  height: 38px;
  border: none;
  cursor: pointer;
}

.coaches__arrows .slick-arrow.slick-prev {
  left: -57px;
  background: url("../img/icon-slider-arrow.svg") 0 0 / 100% no-repeat;
}

.coaches__arrows .slick-arrow.slick-next {
  right: -60px;
  background: url("../img/icon-slider-arrow.svg") 0 0 / 100% no-repeat;
  transform: rotate(180deg);
}

@media (max-width: $tablet-max) {
  .coaches__list .slick-slide.slick-active {
    width: 268px;
    height: 294px;
  }

  .coaches__list .slick-arrow.slick-next {
    right: -29px;

    margin-top: -20px;
  }
}

@media (max-width: $mobile-max) {
  .coaches__list .slick-slide.slick-active {
    width: 226px;
    height: 274px;
  }

  .coaches__arrows .slick-arrow {
    width: 12px;
    height: 30px;
  }

  .coaches__list .slick-arrow.slick-prev {
    left: -33px;

    margin-top: -20px;
  }

  .coaches__arrows .slick-arrow.slick-next {
    // right: -33px;

    margin-top: -10px;
  }
}

/* reviews slider */
.reviews__list,
.reviews__item {
  min-width: 0;
}

.reviews__list {
  position: relative;
}

.reviews__list .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;

  width: 18px;
  height: 38px;
  margin-top: -20px;

  font-size: 0;

  border: none;
  cursor: pointer;
}

.reviews__list .slick-arrow.slick-prev {
  left: -57px;

  margin-top: -18px;

  background: url("../img/icon-slider-arrow.svg") 0 0 / 100% no-repeat;
}

.reviews__list .slick-arrow.slick-next {
  right: -57px;

  background: url("../img/icon-slider-arrow.svg") 0 0 / 100% no-repeat;
  transform: rotate(180deg);
}

@media (max-width: $mobile-max) {
  .reviews__list .slick-arrow {
    width: 12px;
    height: 32px;
  }

  .reviews__list .slick-arrow.slick-prev {
    left: -33px;

    margin-top: -11px;
  }

  .reviews__list .slick-arrow.slick-next {
    right: -32px;

    margin-top: -21px;
  }
}
