// Desktop First Adaptive Layout

//Breakpoint
$mobile-min: 320px;
$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1199px;
$desktop: 1200px;

$container: 1200px;
$container-mobile-min: 320px;
$container-desktop-min: 1000px;
$container-max: 1450px;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Fonts
$roboto-condensed: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
$bebas-neue: "Bebas Neue", "Arial", sans-serif;

// Colors
$white: #ffffff;
$sub-bg: #f8f9fc;
$advantages-bg: #f8f9fc;
$superhero: #0e1356;
$black-blue: #102654;
$price-value-shadow: #e8e8e8;
$price-title: #102654;
$price-time: #495a7d;
$price-value: #103aae;
$price-blue: #00359f;
$price-red: #d10a42;
$promo-bg: #ed0233;
$promo-img: #282b83;
$promotions-image: #5482dd;
$promotions-side: #1c3374;
$gradient-red: #d10a42;
$gradient-blue: #00359f;
$number-blue: #0041ca;
$number-red: #d10a42;
$coaches-sport: #b6bdcc;
$advantages-center: #1c3374;
$coaches-hover: rgba(16, 38, 84, 0.89);
$contacts-border: #74819c;
$input-border: #74819c;
$footer-bg: #030a1a;
$gym-bg: #abadc0;
$video-hover: rgba(20, 54, 122, 0.5);
$video-blue: #003d85;
$video-red: #b80027;
$review-item: #1c3374;
$sub-month-item: rgba(16, 38, 84, 0.5);
$sub-item-price: #103aae;

$hero-gradient-desktop: conic-gradient(
  from 130.31deg at 16.03% 39.06%,
  #b80027 -46.69deg,
  #003d85 32.24deg,
  #b80027 313.31deg,
  #003d85 392.24deg
);
$hero-gradient-tablet: conic-gradient(
  from 139.4deg at 20.7% 35.74%,
  #b80027 -46.69deg,
  #003d85 32.24deg,
  #b80027 313.31deg,
  #003d85 392.24deg
);
$hero-gradient-mobile: conic-gradient(
  from 171.43deg at 35.31% 34.22%,
  #b80027 -46.69deg,
  #003d85 32.24deg,
  #b80027 313.31deg,
  #003d85 392.24deg
);
